body {
    background: rgb(111,127,37);
    background: linear-gradient(0deg, rgba(111,127,37,1) 0%, rgba(123,175,223,1) 100%);
}

.bgGaleria{
	margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 1%;
    border-radius: 25px;
    background-color: #E4EAF2;
}

.bgcarrosel{
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    border-radius: 25px;
    background-color: #E4EAF2;
}

#orcamentoja{
    background-color: #3D9DD9;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.formorc{
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 25px;
    background-color: #E4EAF2;
}

.rodape{
    width: 100%;
    background-color:#97A034ff;
    padding: 1%;
}

.galeria{
    margin-left: 2%;
}